#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

php_value xdebug.default_enable on
php_value xdebug.remote_enable on
php_value xdebug.remote_handler dbgp
php_value xdebug.remote_host 200.131.19.166
php_value xdebug.remote_port 9000
php_value xdebug.idekey netbeans-xdebug
php_value xdebug.remote_autostart on

#php_flag xdebug.profiler_enable on
#php_flag xdebug.profiler_enable_trigger on
#php_value xdebug.profiler_output_dir /home/marcello/profile
#php_value xdebug.profiler_output_name callgrind.out.%p
