<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupGlobals="false"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true">

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>